.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/arkaplan.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 165px 346px 0;
}

.u-section-1 .u-text-2 {
  font-size: 2rem;
  animation-duration: 1000ms;
  margin: -9px 56px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  animation-duration: 1000ms;
  font-weight: 700;
  text-transform: uppercase;
  margin: 99px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 194px;
  min-width: 98px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 176px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 246px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(17, 17, 17) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 136px;
    margin-left: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 46px;
    margin-left: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }
}